In [1]:
'''
OJ CASE STUDY
-------------
Author: Ananth Vikram
Topic: PANDAS

'''
import pandas as pd
import numpy as np

In [2]:
''' PART A '''
OJ_df = pd.read_csv("oj.csv") 
print ("Q1.Dimensions of the dataset:",OJ_df.shape)

Q1.Dimensions of the dataset: (28947, 17)

In [3]:
print ("Q2.Structure of the dataset:")
OJ_df.info()

Q2.Structure of the dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28947 entries, 0 to 28946
Data columns (total 17 columns):
store       28947 non-null int64
brand       28947 non-null object
week        28947 non-null int64
logmove     28947 non-null float64
feat        28947 non-null int64
price       28947 non-null float64
AGE60       28947 non-null float64
EDUC        28947 non-null float64
ETHNIC      28947 non-null float64
INCOME      28947 non-null float64
HHLARGE     28947 non-null float64
WORKWOM     28947 non-null float64
HVAL150     28947 non-null float64
SSTRDIST    28947 non-null float64
SSTRVOL     28947 non-null float64
CPDIST5     28947 non-null float64
CPWVOL5     28947 non-null float64
dtypes: float64(13), int64(3), object(1)
memory usage: 3.8+ MB

In [4]:
print ("Q3.Columns of the dataset:")
OJ_df.columns

Q3.Columns of the dataset:

Index(['store', 'brand', 'week', 'logmove', 'feat', 'price', 'AGE60', 'EDUC',
       'ETHNIC', 'INCOME', 'HHLARGE', 'WORKWOM', 'HVAL150', 'SSTRDIST',
       'SSTRVOL', 'CPDIST5', 'CPWVOL5'],
      dtype='object')

In [5]:
print ("Q4.Description of the dataset:")
OJ_df.describe()

Q4.Description of the dataset:

,store,week,logmove,feat,price,AGE60,EDUC,ETHNIC,INCOME,HHLARGE,WORKWOM,HVAL150,SSTRDIST,SSTRVOL,CPDIST5,CPWVOL5
count,28947.000000,28947.000000,28947.000000,28947.000000,28947.000000,28947.000000,28947.000000,28947.000000,28947.000000,28947.000000,28947.000000,28947.000000,28947.000000,28947.000000,28947.000000,28947.000000
mean,80.883511,100.459944,9.167864,0.237261,2.282488,0.173130,0.225220,0.155557,10.616735,0.115602,0.359178,0.343766,5.097274,1.207317,2.120359,0.438914
std,35.576511,34.692314,1.019378,0.425411,0.648001,0.061872,0.109945,0.187581,0.282314,0.030168,0.052673,0.239028,3.472386,0.526528,0.729828,0.219248
min,2.000000,40.000000,4.158883,0.000000,0.520000,0.058054,0.049550,0.024247,9.867083,0.013506,0.244463,0.002509,0.132097,0.400000,0.772530,0.094562
25%,53.000000,70.000000,8.489616,0.000000,1.790000,0.122100,0.145985,0.041910,10.456079,0.097938,0.312636,0.123486,2.767046,0.727273,1.626192,0.271673
50%,86.000000,101.000000,9.034080,0.000000,2.170000,0.170655,0.229390,0.074656,10.635326,0.111221,0.355635,0.346154,4.650687,1.115385,1.963412,0.383227
75%,111.000000,130.000000,9.764685,0.000000,2.730000,0.213949,0.284395,0.187761,10.796960,0.135168,0.402313,0.528313,6.650602,1.538462,2.533672,0.560240
max,137.000000,160.000000,13.482016,1.000000,3.870000,0.307398,0.528362,0.995691,11.236197,0.216354,0.472308,0.916699,17.855951,2.571429,4.107902,1.143367

In [6]:
OJ_df.head(10)

,store,brand,week,logmove,feat,price,AGE60,EDUC,ETHNIC,INCOME,HHLARGE,WORKWOM,HVAL150,SSTRDIST,SSTRVOL,CPDIST5,CPWVOL5
0,2,tropicana,40,9.018695,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
1,2,tropicana,46,8.723231,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
2,2,tropicana,47,8.253228,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
3,2,tropicana,48,8.987197,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
4,2,tropicana,50,9.093357,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
5,2,tropicana,51,8.877382,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
6,2,tropicana,52,9.294682,0,3.29,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
7,2,tropicana,53,8.954674,0,3.29,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
8,2,tropicana,54,9.049232,0,3.29,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
9,2,tropicana,57,8.613230,0,3.29,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927

In [26]:
''' PART B '''
#Q1. Fetch all tropicana observations
Tropicana_df = OJ_df[OJ_df.brand == "tropicana"]

#Q2. Fetch all tropicana observations using query
TropicanaQ_df = OJ_df.query('brand == "tropicana"')

#Q3. Fetch store, brand, and price for tropicana observations
Tropicana_df2 = OJ_df[['store','brand','price']][OJ_df.brand == "tropicana"]

#Q4. Fetch bottom 5 observations for those who have bought Tropicana or dominicks

OJ_df.query('brand == "tropicana" or brand == "dominicks"').tail(5)

#Q5. Fetch the income, brand, price observations with Tropicana brand without feature advertisement
Tropicana_df2 = OJ_df[['INCOME','brand','price']][(OJ_df.brand == "tropicana") & (OJ_df.feat == 0)]

#Q6.Add a new column to the dataframe normInc which is the normalized value of income
OJ_df['normInc'] = (OJ_df.INCOME - OJ_df.INCOME.mean())/ OJ_df.INCOME.std()

#Q7. Remove the column normInc from the data frame
OJ_df.drop(columns = 'normInc')

#Q8. Fetch the observations for the tropicana brand excluding the store, price and income fields
Tropicana_df3 = OJ_df[OJ_df.columns.difference(['store','price','INCOME'])][OJ_df.brand == "tropicana"]

#Q9. Sort the Data in the increasing order of the week
OJ_df = OJ_df.sort_values('week', ascending=True)

#Q10. Sort the data in the decreasing order of Income and increasing order of week
OJ_df = OJ_df.sort_values(['INCOME','week'], ascending=[False,True])

#Q11. Find the mean of the juice price for each brand
mean_price_df=OJ_df[['brand','price']].groupby('brand').mean()

#Q12.Find the mean, sum, std of price for every brand
mean_sum_std_price_df=OJ_df[['brand','price']].groupby('brand').agg(['mean','sum','std'])
mean_sum_std_price_df.head(10)

#Q13.Find the average income for each brand and at each store
mean_str_price_df=OJ_df[['brand','store','price']].groupby(['brand','store']).mean()

'''
14.	Find:
a.	Mean and std deviation of the income
b.	For income greater than or equal to 10.5, find the mean income
c.	For each brand having price >=2.5 find the mean, median, sd of the normalized  of income
'''
#Q14.A
print(OJ_df.INCOME.mean())
print(OJ_df.INCOME.std())

#Q14.B
print(OJ_df[OJ_df.INCOME>10.5].INCOME.mean())

#Q14.C
OJ_df['normInc'] = (OJ_df.INCOME - OJ_df.INCOME.mean())/ OJ_df.INCOME.std()
print(OJ_df[['brand','normInc']][OJ_df.price>2.5].groupby('brand').agg(['mean','median','std']))

10.616734638000253
0.28231362150250233
10.75945238203283
              normInc
                 mean    median       std
brand
dominicks   -0.506915 -0.883927  1.452802
minute.maid -0.055250  0.055361  1.065195
tropicana   -0.004973  0.065855  1.001111